@import url("https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic");
body,
* {
    font-family: "Rubik", sans-serif;
}


/*================
   ==overright==
=================*/

body,
ul,
li,
a,
nav,
table,
thead,
h1,
h2,
h3,
h4,
h5,
h6,
span,
div,
tr,
td,
th {
    padding: 0;
    margin: 0;
}

body {
    padding: 5px;
}


/*======================
==background colors==
========================*/

.bg-light-gray {
    background-color: #eeeff3;
}

.bg-white {
    background: #fff;
}

.bg-green {
    background: #66cc75;
}

.bg-gray {
    background: #aaa;
}

.bg-orange {
    background-color: orange;
}


/*======================
    ==text colors==
========================*/

.text-gray {
    color: #aaa;
}

.text-blue {
    color: #3bafda;
}

.text-red {
    color: #e74c3c;
}

.text-white {
    color: #fff;
}

.vertical-middle {
    display: flex;
    align-items: center;
    height: 100%;
}

div.card {
    box-shadow: 0 0.75rem 6rem rgba(56, 65, 74, .03);
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid #e7eaed;
    border-radius: .25rem;
    margin-top: 5px;
}

header {
    height: 50px;
    border-bottom: 1px solid #e7eaed;
}

header .row {
    width: 100%;
}

header .row nav {
    float: left;
}


/* div.search {
    float: left;
} */

.clr {
    clear: both;
}


/*search box*/


/* input {
    outline: none;
}

input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}

input[type=search] {
    background: #ededed url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    width: 55px;
    -webkit-border-radius: 10em;
    -moz-border-radius: 10em;
    border-radius: 10em;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
}

input[type=search]:focus {
    width: 130px;
    background-color: #fff;
    border-color: #66CC75;
    -webkit-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
    -moz-box-shadow: 0 0 5px rgba(109, 207, 246, .5);
    box-shadow: 0 0 5px rgba(109, 207, 246, .5);
} */

.btn {
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid #66CC75;
    border-radius: 0.6em;
    color: #fff;
    background: #66cc75;
    cursor: pointer;
    display: -webkit-box;
    align-self: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    margin: 8px 0px;
    padding: .6em .6em;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    float: right;
    align-self: flex-end;
    flex-flow: column wrap;
}

.btn:hover,
.btn:focus {
    color: #fff;
    outline: 0;
}

.add-staff {
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.add-staff:hover {
    box-shadow: 0 0 40px 40px #66CC75 inset;
}

.top-nav li {
    float: left;
}

.top-nav li {
    list-style: none;
    margin-left: 5px;
}

.top-nav li a h2 {
    color: #555;
    padding: 15px 3.5px;
    font-size: 15px;
    font-weight: normal;
    text-decoration: none;
    display: inline-block;
}

.capital-text {
    text-transform: uppercase;
}

.top-nav li a.active h2 {
    border-bottom: 2px solid #3bafda;
}

.list-inline li {
    float: left;
    margin: 5px 10px;
    list-style: none;
}

.list-inline li a {
    text-decoration: none;
}

.text-center {
    text-align: center !important;
}

.overtime {
    width: 10px;
    height: 10px;
    display: inline-block;
    margin: auto;
    border-radius: 50%;
}

.table-responsive table {
    width: 100%;
    padding-left: 30px;
}

thead {
    border-bottom: 1px solid #e7eaed;
    background-clip: border-box;
    box-shadow: 0 0.75rem 6rem rgba(56, 65, 74, .03);
    width: 100%;
    height: 30px;
}

table {
    border-collapse: collapse;
}

tr {
    border-top: 2px solid #e7eaed;
}

th,
td {
    text-align: left;
    padding: 15px 5px;
    font-size: 14px;
    vertical-align: middle;
    padding: .75rem 1.25rem;
    white-space: nowrap;
}

.status {
    color: #fff;
    display: inline-block;
    padding: .3125rem .375rem;
    font-size: 75%;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

.edit-delete {
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    display: inline-block;
}


/*=======================================
==modal style start==
========================================*/

.modal-window {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.modal-window:target {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
}

.modal-window>div {
    width: 500px;
    position: absolute;
    top: 30px;
    left: 50%;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    padding: 15px 15px;
    background: #ffffff;
    overflow: hidden;
    overflow-y: scroll;
    height: 100%;
}

.modal-window header {
    font-weight: bold;
}

.modal-window h3 {
    margin: 0 0 15px;
    color: #555;
    padding-left: 20px;
}

.modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 100%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
}

.modal-close:hover {
    color: black;
}

label {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: #555;
    margin-bottom: 0.5rem;
}

input,
button,
select,
textarea {
    margin: 0;
    font-family: inherit;
    font-size: 14px;
    line-height: inherit;
    color: #555;
}

button {
    border: none;
}

.form-container {
    width: 100%;
    margin: 1rem auto 0 auto;
    padding-bottom: 1rem;
}

.clue {
    margin-left: 0.25rem;
    font-size: 0.9rem;
    color: #e4e4e4;
}

.text-center {
    text-align: center;
}


/* form */

.form-container form {
    padding: 2.5rem 0.625rem;
    border-radius: 0.25rem;
}

@media (min-width: 480px) {
    .form-container form {
        padding: 1.5rem;
    }
}

.form-row {
    width: 100%;
}

.col-6 {
    width: 50%;
}

.align-right {
    float: right;
}

.align-left {
    float: left;
}

.clr {
    clear: both;
}

.form-group {
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;
}

.form-control {
    display: block;
    width: 95%;
    margin: 0 auto;
    height: 2.375rem;
    padding: 0.375rem 0.75rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.form-row .form-control {
    width: 88%;
}

.form-group p {
    line-height: 0;
}

.input-radio,
.input-checkbox {
    display: inline-block;
    margin-right: 0.625rem;
    min-height: 1.25rem;
    min-width: 1.25rem;
}

.input-textarea {
    min-height: 120px;
    width: 100%;
    padding: 0.625rem;
    resize: vertical;
}

.form-row select.form-control {
    height: 3.225rem;
    width: 100%;
    padding: 0.375rem 0.5rem;
}

.add-staff-btn {
    display: block;
    width: 100%;
    padding: 0.375rem 1.95rem;
    border-radius: 2px;
    cursor: pointer;
    font-size: 18px;
    line-height: 2;
    outline: 0;
}

.add-staff-btn:focus {
    outline: 0;
}


/*===================================
==Media Queries
=====================================*/

@media(min-width:300px) {
    header {
        padding: 0px 5px;
    }
    .modal-window>div {
        width: 290px;
    }
    .col-6 {
        width: 100%;
    }
}

@media(max-width:370px) {
    .btn {
        font-size: 12px;
        margin: 10px 0px;
    }
    .modal-window>div {
        width: 300px;
    }
    .col-6 {
        width: 100%;
    }
}

@media(min-width:420px) {
    header {
        padding: 0px 15px;
    }
}

@media (min-width: 576px) {
    .form-container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .form-container {
        max-width: 720px;
    }
    .modal-window>div {
        width: 500px;
    }
    .col-6 {
        width: 50%;
    }
}

@media(max-width:1024px) {
    .table-responsive {
        max-width: none;
        width: 100%;
        overflow: hidden;
        overflow-x: scroll;
    }
}

@media(min-width:1024px) {
    header {
        padding: 0px 30px;
    }
}